/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

.head_color .mui-icon {
	color:#ffffff;
}

.div_fullscreen{       
    z-index:9998;width:100%;height:100%;position: fixed;top:0px;
    background:-webkit-gradient(linear, 10% 30%, 50% 100%,from(#8ec2f5), to(#04477c));
    background:-moz-linear-gradient(top,#b8c4cb,#f6f6f8);
}
.div_fullscreen_finish{       
    z-index:9998;width:100%;height:100%;position: fixed;top:0px;
	background-color:rgba(242,242,242,1.0);
}
.inp_text_new {
	border: 0 !important;
	background: none !important;
	box-shadow: none !important;
	outline:none;
	/* line-height: 35px !important; */
	height:40px !important;
	color: #4c4c4c !important;
	width: 70%  !important;	
	font-size: 15px;
	margin-top: 3px;
	margin-right:20px;
	height:95%;
	vertical-bottom:0;
}
 .user_div {
   width: 18px;
   height: 18px;
   float: left;
   
   margin-top: 15px;
   background-size: 100% 100%;
   background-image: url("../images/user.png");
 }
  .pass_div {
   width: 18px;
   height: 18px;
   float: left;
   
   margin-top: 15px;
   background-size: 100% 100%;
   background-image: url("../images/pass.png");
 }
 
 .top_head{
	margin-top:71px;
}

/*渐变式抬头*/
.head_color{
	background: -webkit-linear-gradient(left, #243949 0%, #517fa4 100%);
	background: -o-linear-gradient(right, #243949 0%, #517fa4 100%);
	background: -moz-linear-gradient(right, #243949 0%, #517fa4 100%);
	background: linear-gradient(to right, #243949 0%, #517fa4 100%);
	height:70px;
	padding-top:25px;

}
.head_color .mui-title{
	font-weight:bold;
	color:#e5e5e5;
}
.head_color_2{
	background: -webkit-linear-gradient(left, #fff1eb 0%, #ace0f9 100%);
	background: -o-linear-gradient(right, #fff1eb 0%, #ace0f9 100%);
	background: -moz-linear-gradient(right, #fff1eb 0%, #ace0f9 100%);
	background: linear-gradient(to right, #fff1eb 0%, #ace0f9 100%);
	height:70px;
	padding-top:25px;

}
.head_color_3{
	background: -webkit-linear-gradient(left, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
	background: -o-linear-gradient(right, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
	background: -moz-linear-gradient(right, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
	background: linear-gradient(to right, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%);
	height:70px;
	padding-top:25px;

}
.head_base_color{	
	background: -webkit-linear-gradient(left, #fafafa, #fafafa);
	background: -o-linear-gradient(right, #fafafa, #fafafa);
	background: -moz-linear-gradient(right, #fafafa, #fafafa);
	background: linear-gradient(to right, #fafafa, #fafafa);
	height:70px;
	padding-top:25px;

}
.pup_color{
	background: -webkit-linear-gradient(left, #007aff, #007aff);
	background: -o-linear-gradient(right, #007aff, #007aff);
	background: -moz-linear-gradient(right, #007aff, #007aff);
	background: linear-gradient(to right, #007aff, #007aff);
}
/*首页透明抬头*/
.head_tmp_color{
	background-color:#049FF1;
	height:70px;
	padding-top:25px;
	background-color:rgba(4,159,241,0.0);
	-webkit-box-shadow:none;
	box-shadow:none
}
/*渐变式抬头*/
.head_color_m{
	background: -webkit-linear-gradient(left, #007aff, #007aff);
	background: -o-linear-gradient(right, #007aff, #007aff);
	background: -moz-linear-gradient(right, #007aff, #007aff);
	background: linear-gradient(to right, #007aff, #007aff);
	height:70px;
	padding-top:15px;
	background-color: #007aff;box-shadow:0px 0px 0px #000;

}
/*渐变式颜色*/
.header_jb{
	background: -webkit-linear-gradient(left, #007aff, #007aff);
	background: -o-linear-gradient(right, #007aff, #007aff);
	background: -moz-linear-gradient(right, #007aff, #007aff);
	background: linear-gradient(to right, #007aff, #007aff);
	-webkit-box-shadow:none;
	box-shadow:none;
}
.div_fullscreen_map{       
    z-index:9998;width:100%;height:40%;position: fixed;top:60%;

}
.qu{ 
     width:400px; 
     border:1px solid #ccc;
      margin:20px auto;
     overflow : hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp:2;
     -webkit-box-orient: vertical;
}
.middle{
	width:100%;height:40%;position: fixed;top:30%;
	padding:10px;
	border-radius: 5px;
	background:rgba(243,243,238,1.0);
	border:1px;
	text-align:center;
}
.div_fullscreen_footer{   
	background:#ffffff;
    z-index:9998;
    width:100%;
    height:45px;
    line-height:35px;
    position: fixed;
    bottom:0px;
    padding:5px;
    box-shadow: 0 -2px 1px  #49A9F0;

}
.div_footer{
/*	height:25vw;
 	background-size:100% 100%;overflow:hidden;
	background-image:url(../images/footer.jpg); */
	height:100px;
	line-height:100px;
	text-align:center;
	color:#fafafa;
	opacity:0;
}
input[type="date"]:before{
    color:#A9A9A9;
    content:attr(placeholder);
}


input[type="date"].full:before {
    color:black;
    content:""!important;
}